<!DOCTYPE html>
<html ng-app="AppDemo4Module">
    <head>
        <title>Demo4, Costrutti del linguaggio</title>

        <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="app_demo_4.js"></script>

    </head>
    <body>

    (NB APRI LA FINESTRA DI LOG CON F12)<br>
    <div ng-controller="MainController">
        <button ng-click="funzione1()">Premi QUI</button><br>
        <button ng-click="funzione2()">Premi QUI</button><br>
        <button ng-click="funzione3()">Premi QUI</button><br>
    </div>

    </body>
</html>